.div {
    padding: 2rem 0 0.2rem;
}

.button {
	border-radius:14px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding: 10px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.button:active {
	position:relative;
	top:1px;
}

.blue {
	background-color:#4a7bc8; 
	border:1px solid #4a7bc8;
}

.blue:hover {
	background-color:#adbfdb;
	color: black;
}

.red {
	background-color:#c8634a;
	border:1px solid #c8634a;
}

.red:hover {
	background-color:#cf7058;
	color: black;
}