.div {
    margin: 0 8%;
    background-color: #a0a3ca;
    padding: 1rem 5rem 3rem;
    border-radius: 2rem;
    box-sizing: border-box;
}

.div h2 {
    text-align: center;
}

.div li {
    background-color: #6a5370;
    margin: 2rem 0;
    padding-left: 2rem;
    height: 4rem;
    line-height: 4rem;
    color: #e7dede;
    border-radius: 1.25rem;
    list-style: none;
}