.div {
    margin: 3rem 8%;
    background-color: #a0a3ca;
    padding: 1rem 5rem 3rem;
    border-radius: 2rem;
    box-sizing: border-box;
}

.div h2 {
    text-align: center;
}

.div li {
    margin: 2rem 0;
    padding-left: 2rem;
    height: 1rem;
    line-height: 1rem;
    color: #e7dede;
    border-radius: 1.25rem;
    list-style: none;
    display: inline-block;
    width: 80%;
}

.div div {
    background-color: #6a5370;
    border-radius: 2rem;
    margin: 1rem 0;
}